<template>
  <article class="teamCard">
    <!-- Tout ce qui est cliquable -->
    <label class="teamInner">
      <input class="teamToggle" type="checkbox" />
      <!-- Logo -->
      <div class="teamLogoWrap">
        <img class="teamLogo" data-bind-attr-src="logoUrl" alt="Logo" />
      </div>
      <!-- Infos cachées au départ -->
      <div class="teamMeta">
        <h2 class="teamName" data-bind="teamName"></h2>
        <p class="teamAuthor" data-bind="author"></p>
      </div>
    </label>
  </article>
</template>
